{# templates/admin/users/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4" style="max-width:720px;">
    <h1>Nouvel utilisateur (admin)</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.nom) }}</div>
            <div class="col-md-6">{{ form_row(form.prenom) }}</div>
        </div>
        {{ form_row(form.email) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.role) }}
        {{ form_row(form.plainPassword) }}
        <button class="btn btn-success mt-3">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
