{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
<h1>Réservation pour {{ venue.name }}</h1>

{{ form_start(form) }}
    {{ form_row(form.customerName) }}
    <button class="btn">Valider la réservation</button>
{{ form_end(form) }}

<a href="{{ path('venue_show', {'id': venue.id}) }}">← Retour à la salle</a>
{% endblock %}
