{# ... entête tableau ... #}
<tbody>
{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.nom ~ ' ' ~ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telephone ?: '—' }}</td>
        <td>{{ user.role }}</td>
        <td>
            <!-- actions -->
        </td>
    </tr>
{% endfor %}
</tbody>
